.products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .products ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        300px,
        1fr
      )
    );
    gap: 1rem;
    place-items: center;
  }
  
  .products li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    width: 300px;
  }

  .products li img {
    width: 100%;
    border-radius: 10px;
  }

  .products .info{
    display: flex;
    justify-content: space-between;
  }

  .products .info .data-price{
    text-align: left;
  }
  
  .products h3 {
    margin: 0;
    color: #09f;
  }
  
  .products span {
    font-size: 1rem;
    opacity: .9;
  }
  
  .addToCart{
    border-radius: 4;
    background-color: #F0F2F3;
    border:none;
    max-height: 56px;
  }

  .addToCart:hover{
    border: none;
    background-color: #09f;
    color: white;
  }

  