:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #E3E3E3;
  background: #0C1017;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.board .game-logo{
  width: 80px;
  height: 80px;
  margin-bottom: 32px;
}
.board .restart-button{
  border-color: #212835;
  width: 100%;
}

.board h2 {
  color: #eee;
  margin-bottom: 16px;
  transition: opacity 0.5s ease-in-out;
}

.board button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  margin: 25px;
  background: transparent;
  border: 2px solid transparent;
  gap: 8px;
  color: #eee;
  width: 100px;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}


.board button:hover {
  background: #212835;
}

.board .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 20px;
}

.turn {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.fixed-image {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 500px;
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

.turn .square,
.winner .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
}


.square {
  width: 100px;
  height: 100px;
  border: 2px solid #212835;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}

.equis{
  color: #E45651;
  border-color: #E45651;
  background-color: rgba(228, 86, 81, 0.1);
}

.circle{
  color: #225577;
  border: 2px solid #225577 !important;
  background-color: rgba(70, 163, 255, 0.1);
}

.stats-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  text-align: center;
}

.stat {
  margin: 0 10px;
}

.number {
  font-size: 24px;
  font-weight: bold;
}

.label {
  font-size: 14px;
  color: gray;
}

.divider {
  width: 1px;
  height: 30px;
  background-color: lightgray;
}

.results{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 24px;
  width: 100%;
  gap: 8px;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 1000px) {
  .fixed-image {
    position: relative;
    width: 100%; 
    height: auto; 
    margin-top: 20px;
  }
}